
.form-container{
  display: flex;
  justify-content: flex-end;
  align-items: end;
}
.certificate-form{
  background-color: red;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

.header{
  height: 150px;
  background-color: rgb(255, 108, 108);
}